<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Node.js.">
    <meta name="author" content="Creative Tim">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Dashboard - Node.js</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <h1 style="text-align: center;">HOME PAGES</h1>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=cbdb8131-0f58-4628-9601-ffd80943c0e8&autorefresh=10&theme=dark"></iframe>
    <center>
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=45% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=a375369c-2247-4000-9ad4-35922021e7bd&autorefresh=10&theme=dark"></iframe>
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=45% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=6d6e78ad-2a0f-4944-a82e-079169057f19&autorefresh=10&theme=dark"></iframe>
    </center>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=4142162e-a038-4691-ae04-9d24fccfc67f&autorefresh=10&theme=dark"></iframe>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=ae23ccba-d344-494b-988d-f7f422b91b15&autorefresh=10&theme=dark"></iframe>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=22d786a3-cb7d-49ed-a5af-f009e7bb7b1e&autorefresh=10&theme=dark"></iframe>
    <h2 style="text-align: center;">Data A001</h2>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=f58eedf9-6acf-4fb3-8f5a-8d2ac10fd9da&autorefresh=10&theme=dark"></iframe>
    <h2 style="text-align: center;">Data A002</h2>
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="480" src="https://charts.mongodb.com/charts-project-0-xqyso/embed/charts?id=f79b3d15-f863-44e6-9c4e-a0ded204d037&autorefresh=10&theme=dark"></iframe>
</body>

</html>