<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PPAS</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16" href="static/project/assets/images/favicon.png">
  
  <link href="static/lay/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/lay/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/lay/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/lay/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lay/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/lay/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Regna - v2.0.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

     

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to PPAS</h1>
      <h2>PPAS is an IoT platform that helps connect IoT devices on farms <br> developed by students. Information Technology, Prince of Songkla University, Surat Thani Campus</h2>
      <a href="static/project/html/index.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    


  <!-- Vendor JS Files -->
  <script src="static/lay/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/lay/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lay/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/lay/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/lay/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/lay/assets/vendor/wow/wow.min.js"></script>
  <script src="static/lay/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/lay/assets/vendor/superfish/superfish.min.js"></script>
  <script src="static/lay/assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="static/lay/assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/lay/assets/js/main.js"></script>

</body>

</html>